<div class="main-logo">
  <a href="/" title="{{ shop.name }}">
    <h1 class="logo_text">KNOWLITA</h1>
    <img class="img front" src="{{ 'knowlita_logo.svg' | asset_url }}" height="26" width="110" />
    <img class="img back" src="{{ 'knowlita_logo_black.svg' | asset_url }}" height="26" width="110" />
  </a>
</div>
<div class="main-logo-mobile">
  <a href="/" title="{{ shop.name }}">
    <h1 class="logo_text">KNOWLITA</h1>
    <img class="img front" src="{{ 'knowlita_logo-mobile.svg' | asset_url }}" />
    <img class="img back" src="{{ 'knowlita_logo_black-mobile.svg' | asset_url }}" />
  </a>
</div>
<div class="main-logo-overlay">
  <a href="/" title="{{ shop.name }}">
    <h1 class="logo_text">KNOWLITA</h1>
    <img class="img front" src="{{ 'knowlita_logo.svg' | asset_url }}" height="26" width="110" />
    <img class="img back" src="{{ 'knowlita_logo_black-mobile.svg' | asset_url }}" />
  </a>
</div>