<!-- Collection promotion snippet
Need to pass :
- id = of the section.
-->

<style media="screen">
	.homepage-title{
		font-family: 'bebas_neue_regularregular'!important;
		font-size: 64px!important;
		line-height: 77px!important;
		letter-spacing: 8px!important;
		color: #ffffff;
		max-width: 350px;
	}
	
	div.button.main-content-button{
		background-color: #ffffff;
		border: 1px solid #ffffff;
		color: #000000 !important;
	}
	
	div.button.main-content-button:hover{
		background-color: transparent;
		color: #ffffff !important;
	}
	
	a.product.promo.group.scrolled {
    transition: background-color .20s ease-out;
	}
	
	@media (max-width: 788px) {
		.collection-wrapper .product .content{
			display: none;
		}
	}
</style>
{% assign checkbox = "homepage_section" | append: id %}
{% assign thecollection = "homepage_collection" | append: id %}
{% assign product_limit = "homepage_productlimit" | append: id %}
{% assign main_image = "homepage_main_image" | append: id | append: '.jpg' %}
{% assign main_image_mobile = "homepage_main_imagemobile" | append: id | append: '.jpg' %}
{% assign heading_text = "homepage_main_text" | append: id %}
{% assign collection_image_checkbox = "homepage_main_image_checkbox" | append: id %}
{% assign main_button = "homepage_main_button" | append: id %}
{% assign collection = settings[thecollection] %}


{% if settings[checkbox] %}

	<div class="collection-wrapper group">
		{% assign collec_query = collections[collection].metafields.c_f.collection_mobile_image | split: '?' %}
		{% assign collec_array = collec_query.first | split: '/' %}
		
<!--HERO SECTION-->
		{% if collections[collection].metafields.c_f.media_video_mp4 != blank or collections[collection].image or settings[collection_image_checkbox] %}
			<div class="product feature fullscreen">
				{% if collections[collection].metafields.c_f.media_video_mp4 != blank %}
					<video id="video-1" class="video" autoplay muted loop preload="metadata" playsinline>
						<source src="{{ collections[collection].metafields.c_f.media_video_mp4 }}" type="video/mp4" />
						<source src="{{ collections[collection].metafields.c_f.media_video_webm }}" type="video/webm" />
						<img src="" data-image="{{ collections[collection].image | img_url: '2048x' }}" data-image-m="{{ collec_array.last | file_img_url: '1024x' }}" />
					</video>
				{% else %}
					{% if settings[collection_image_checkbox] %}
						<div class="image" data-image="{{ main_image | asset_url }}" data-image-m="{{ main_image_mobile | asset_url }}"></div>
					{% else %}
						<div class="image" data-image="{{ collections[collection].image | img_url: '2048x' }}" data-image-m="{{ collec_array.last | file_img_url: '1024x' }}"></div>
					{% endif %}
				{% endif %}
				<div class="content group">
					<div class="homepage-title">
						{% if settings[heading_text] != blank %}
							{{ settings[heading_text] }}
						{% else %}
							{{ collections[collection].description }}
						{% endif %}
					</div>
					{% if settings[main_button] != blank %}
					<div class="button main-content-button" onclick="window.location='{{ collections[collection].url }}'" style="display:block;max-width: 130px; font-size: 18px; letter-spacing: 2.2px; text-align: center; margin-top:14px;">
						{{settings[main_button]}}
					</div>
					{% endif %}
				</div>
				<div class="scroll-to-shop">
					<div class="line"></div>
				</div>
			</div>
		{% endif %}
<!--END HERO SECTION-->

		{% assign promo_index = collections[collection].metafields.c_f.promo_position | times: 1 %}
		{% assign product_limits = settings[product_limit] %}
		{% assign num_product = collections[collection].all_products_count | plus: 1 %}


		{% for i in (0..num_product) %}
			{% assign product = collections[collection].products[i] %}

<!--PROMO CARD-->
			{% if forloop.index == promo_index %}
				{% assign promo_link = collections[collection].metafields.c_f.promo_link %}
				<a class="product promo group" style="background-color:#{{ collections[collection].metafields.c_f.promo_color_background }};" {% if promo_link != blank %}href="{{ promo_link }}"{% endif %} {% if promo_link contains 'http' %}target="_blank"{% endif %}>
					{% if promo_link contains 'http' %}<div class="external_icon"></div>{% endif %}
					{% if collections[collection].metafields.c_f.promo_image != blank and collections[collection].metafields.c_f.promo_media_video_mp4 == blank %}
						{% assign split_query = collections[collection].metafields.c_f.promo_image | split: '?' %}
						{% assign promo_array = split_query.first | split: '/' %}
						{% if collections[collection].metafields.c_f.promo_image_mobile != blank %}
							{% assign split_query_mobile = collections[collection].metafields.c_f.promo_image_mobile | split: '?' %}
							{% assign promo_array_mobile = split_query_mobile.first | split: '/' %}
						{% endif %}
						<div class="image" data-image="{{ promo_array.last | file_img_url: '2048x' }}" data-image-m="{% if collections[collection].metafields.c_f.promo_image_mobile != blank %}{{ promo_array_mobile.last | file_img_url: '600x' }}{% else %}{{ promo_array.last | file_img_url: '600x' }}{% endif %}"></div>
					{% endif %}
					{% if collections[collection].metafields.c_f.promo_media_video_mp4 != blank %}
						{% assign split_query = collections[collection].metafields.c_f.promo_image | split: '?' %}
						{% assign promo_array = split_query.first | split: '/' %}
						<video class="video" autoplay muted loop preload="metadata" playsinline>
							<source src="{{ collections[collection].metafields.c_f.promo_media_video_mp4 }}" type="video/mp4" />
								{% if collections[collection].metafields.c_f.promo_media_video_webm != blank %}
									<source src="{{ collections[collection].metafields.c_f.promo_media_video_webm }}" type="video/webm" />
								{% endif %}
							<img src="" data-image="{{ promo_array.last | file_img_url: '2048x' }}" data-image-m="{{ promo_array.last | file_img_url: '600x' }}" />
						</video>
					{% endif %}
					<div class="content {% if collections[collection].metafields.c_f.promo_description_vertical == blank %}centered{% endif %}">
						{% if collections[collection].metafields.c_f.promo_button != blank %}
							<div class="button collection-button" style="padding: 16px 10px 16px;letter-spacing: 3px;">{{collections[collection].metafields.c_f.promo_button}}</div></br>
							<h3 style="font-size: 24px;font-weight: bold;letter-spacing: 3px;padding-top: 9px;">{{collections[collection].metafields.c_f.promo_button_text}}</h3>
						{% else %}
							<h2 class="{% if promo_link != blank %}underline{% endif %}" style="color:#{{ collections[collection].metafields.c_f.promo_color_text }};">{{ collections[collection].metafields.c_f.promo_description | newline_to_br }}</h2>
								<div class="middle">
									<p class="vertical" style="color:#{{ collections[collection].metafields.c_f.promo_color_text }};">{{ collections[collection].metafields.c_f.promo_description_vertical }}</p>
								</div>
							</div>
						{% endif %}
					</div>
				</a>
			{% endif %}
<!--END PROMO CARD-->

				{% assign loop_index = forloop.index | plus: 0 %}
				{% assign my_limit = settings[product_limit] | plus : 0 %}
				{% if loop_index <= my_limit %}
					<div class="product">
						{% if product.metafields.c_f.secondary_image != blank %}
							{% assign sec_image_query = product.metafields.c_f.secondary_image | split: '?' %}
							{% assign sec_image = sec_image_query.first | split: '/' %}
							<a class="image" data-image="{{ product.featured_image | img_url: '2048x' }}" data-image-m="{{ product.featured_image | img_url: '600x' }}" href="{{ product.url }}">
								<span class="image" data-image="{{ sec_image.last | file_img_url: '2048x' }}" data-image-m="{{ sec_image.last | file_img_url: '600x' }}"></span>
							</a>
						{% else %}
							<a class="image transition" data-image="{{ product.featured_image | img_url: '2048x' }}" data-image-m="{{ product.featured_image | img_url: '600x' }}" href="{{ product.url }}"></a>
						{% endif %}
					</div>
				{% endif %}
		{% endfor %}

	</div>
{%  endif %}
