<div id="sca-qv-showqv" class="sca-bm" style="display: none !important;">  
 <div>
      <div class="mobile-head group">
    <a href="/cart" class="mobile go-to-cart">Cart</a>
   </div>
   
	<!--START PRODUCT-->
	 <div class="quick-view-container fancybox-view-detail group">

	    <div id="sca-qv-left" class="sca-left">
          <div class="scroller">
            <div id="sca-qv-sale"  class="sca-qv-sale sca-qv-hidden">Sale</div>
			<!-- START ZOOM IMAGE-->
			 <div class="sca-qv-zoom-container">
                    <div class="zoomWrapper">
					  <div id="sca-qv-zoomcontainer" class='sqa-qv-zoomcontainer'>
                              <!-- Main image  ! DON'T PUT CONTENT HERE! -->     
                      </div>
                       
                    </div>
             </div>
			<!-- END ZOOM IMAGE-->
          
            <div class="sca-product-title group">
          
            </div>
            <div class="sca-product-description group">
          
            </div>
            <div class="sca-product-gallery group">
          
            </div>
          
            <!-- START GALLERY-->
            <div id="sca-qv-galleryid" class="sca-qv-gallery"> 
              		<!-- Collection of image ! DON'T PUT CONTENT HERE!-->
            </div>	
            <!-- END GALLERY-->
            
            
            <div class="footer group">
              <div class="email-subscribe">
                <div class="thank-you-wrapper group">
                  <div class="inner">
                    <div class="outer">
                      <div class="middle">
                        <p class="vertical">THANK YOU</p>
                      </div>
                    </div>
                    <div class="signup-form group">

                      <div class="submit-animation group">
                        <div class="icon"></div>
                        <div class="icon"></div>
                        <div class="icon"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="email-wrapper group">
                  <div class="outer">
                    <div class="middle">
                      <p class="vertical">NEVER SPAM, FAM.</p>
                    </div>
                  </div>
                  <div class="signup-form group">

                    <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup-2{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup-2">
                      <form action="//knowlita.us6.list-manage.com/subscribe/post?u=11dc9e1acab61ce95a8f5abd3&amp;id=9ba4591bff" method="post" id="mc-embedded-subscribe-form-2" name="mc-embedded-subscribe-form-2" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">

                          <div class="mc-field-group-2">
                            <div class="arrow-2">→</div>
                            <input type="email" value="" name="EMAIL" class="required email" placeholder="STAY IN THE KNOW..." id="mce-EMAIL-2" />
                          </div>
                          <div id="mce-responses-2" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                          </div>     
            <!--                real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_11dc9e1acab61ce95a8f5abd3_9ba4591bff" tabindex="-1" value=""></div>
                          <div class="clear" style="display:none;">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe-2" class="button">
                          </div>
                        </div>
                      </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                    <script type='text/javascript'>
                      (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='COMPANY';ftypes[3]='text';fnames[4]='ADDRESS';ftypes[4]='address';fnames[5]='MMERGE5';ftypes[5]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
                    </script>
                    <!--End mc_embed_signup-->
                </div>
              </div>
            </div>
          </div>
            
            
            
          </div>
        </div>

		<!--START BUY-->
		<div id ="sca-qv-right" class="sca-right">
          	<!-- -------------------------- -->
			<div id="sca-qv-title" class="name-title" >
					<!-- Title of product ! DON'T PUT CONTENT HERE!-->
			</div>
			<!-- -------------------------- -->
			
			<!-- -------------------------- -->
			<div id="sca-qv-des" class="sca-qv-row">
					<!-- description of product ! DON'T PUT CONTENT HERE!-->
			</div>
			<!-- -------------------------- -->
			<div class="sca-qv-row">
				<a id="sca-qv-detail"  href="" > 	View full product details → </a>
			</div>
		<!-- ----------------------------------------------------------------------- -->
            <div id='sca-qv-cartform'>
	          <form id="sca-qv-add-item-form"  method="post">     
                <!-- Begin product options ! DON'T PUT CONTENT HERE!-->
                <div class="sca-qv-product-options">
                  <!-- -------------------------- -->
                  <div id="sca-qv-variant-options" class="sca-qv-optionrow">
							<!-- variant options  of product  ! DON'T PUT CONTENT HERE!-->
		          </div>  
                  <!-- -------------------------- -->
                  <div class="sca-qv-optionrow">	    
                    <label>Quantity</label>
          	        <input id="sca-qv-quantity" min="1" type="number" name="quantity" value="1"  />
                  </div>
				  <!-- -------------------------- -->
                  <div class="sca-qv-optioncart">
                    
                     <div id ="sca-qv-price-container" class="sca-qv-price-container modify-price">
                            <!-- price information of product ! DON'T PUT CONTENT HERE!-->
                     </div>
                     <p id="sca-qv-unavailable" class="sca-sold-out sca-qv-hidden">Unavailable</p>
                     <p id="sca-qv-sold-out" class="sca-sold-out sca-qv-hidden">Sold Out</p>
                     <input type="submit" class="sca-qv-cartbtn sca-qv-hidden" value="ADD TO BAG" />
                     
                     <div id="saks"></div>
                     
                  </div>
                  <!-- -------------------------- -->
                  
                  <a href="/cart" class="go-to-cart">View Cart</a>
                </div>
               <!-- End product options -->
            </form>
              
         </div>
          
          <div class="cart-animation-wrapper group">
            <div class="cart-animation group">
              <div class="icon"></div>
              <div class="icon"></div>
              <div class="icon"></div>
            </div> 
          </div>

          <style type="text/css">
            .sca-qv-row{
              margin:0;
            }
            .cart-animation-wrapper{
              background-color:rgba(0,0,0,0.8);
              height:calc(100% - 80px);
              position:fixed;
              right:0;
              opacity:0;
              pointer-events:none;
              top:80px;
              -webkit-transition:opacity 250ms ease 1000ms;
              transition:opacity 250ms ease 1000ms;
              width:77%;
              z-index: 999;
            }
            .cart-animation-wrapper.run{
              opacity:1;
              -webkit-transition:opacity 250ms ease;
              transition:opacity 250ms ease;
            }
            .cart-animation{
              left:0;
              position:absolute;
              text-align:center;
              top:50%;
              -webkit-transform:translateY(-50%);
              transform:translateY(-50%);
              width:100%;
            }
            .cart-animation .icon{
              background-position:center center;
              background-repeat:no-repeat;
              background-size:80px 80px;
              display:inline-block;
              height:80px;
              margin:0 20px;
              opacity:0;
              -webkit-transition:opacity 250ms ease;
              transition:opacity 250ms ease;
              width:80px;
            }
            .cart-animation .icon:nth-child(1){
              background-image:url('{{ 'raise-hands-1.png' | asset_url }}');
              transition-delay:200ms;
            }
            .cart-animation .icon:nth-child(2){
              background-image:url('{{ 'raise-hands-2.png' | asset_url }}');
              transition-delay:400ms;
            }
            .cart-animation .icon:nth-child(3){
              background-image:url('{{ 'raise-hands-3.png' | asset_url }}');
              transition-delay:600ms;
            }
            .run .cart-animation .icon:nth-child(1){
              transition-delay:200ms;
            }
            .run .cart-animation .icon:nth-child(2){
              transition-delay:400ms;
            }
            .run .cart-animation .icon:nth-child(3){
              transition-delay:600ms;
            }
            .run .cart-animation .icon{
              opacity:1;
            }
            @media all and (max-width:768px){
              .cart-animation-wrapper {
                  height: calc(100% - 60px);
                  pointer-events: none;
                  top: 60px;
                  width: 100%;
              }
            }
          </style>

          <div id="checkForAjax"></div>
	   </div>
	   <!--END BUY-->
    </div>
	<!--END PRODUCT-->
 </div>
</div>


<div id="scaqv-metadata" 
autoconfig = "yes" 
noimage = "{{ 'sca-qv-no-image.jpg' | asset_url }}" 
moneyFormat = "{{ shop.money_format }}" 
jsondata = "{{ shop.metafields.sca-np-qv.settings }}" ></div>