
<style type="text/css">
  *{
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  }
  .group:after,
  .group:before{content:" ";display:table}
  .group:after{clear:both}
  .group{*zoom:1}
  body.fix{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .collection-grid{

  }
  .collection-wrapper{

  }
  .collection-wrapper a:focus,
  .collection-wrapper a:active,
  .collection-wrapper a:visited{
    outline:0 none;
  }
  .collection-wrapper .product{
    background-color:#ededed;
    display:block;
    float:left;
    height:0;
    padding-bottom:55.55%;
    position:relative;
    overflow:hidden;
    width:50%;
  }
  .collection-wrapper .product.feature.fullscreen{
    height:100vh;
    padding:0;
    width:100%;
  }
  .collection-wrapper .product.feature{
    height:0;
    padding:0 0 56.25%;
    width:100%;
  }
    
  .collection-wrapper .product:nth-child(2),
  .collection-wrapper .product:nth-child(5),
  .collection-wrapper .product:nth-child(6),
  .collection-wrapper .product:nth-child(9),
  .collection-wrapper .product:nth-child(10),
  .collection-wrapper .product:nth-child(13),
  .collection-wrapper .product:nth-child(14){
    background-color:#e7e7e7;
  }
    
    .collection-wrapper.heroless .product:nth-child(4n+2){
        background-color: #e7e7e7;
    } 
      
    .collection-wrapper.heroless .product:nth-child(4n+3){
			background-color: #e7e7e7;
		}
    
    .collection-wrapper.heroless .product:nth-child(4n+1){
        background-color: #ededed;
    } 
      
    .collection-wrapper.heroless .product:nth-child(4n+4){
			background-color: #ededed;
		}
    
    
    

  .collection-wrapper .product.feature .content{
    left:130px;
    position:absolute;
    top:50%;
    max-width:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
  }
  .collection-wrapper .product.feature .content,
  .collection-wrapper .product.feature .content *{
    font-size:60px;
    font-family: 'bebas_neuebold';
    color:#ffffff;
    letter-spacing: 4px;
    line-height:normal;
    margin: 0;
  }
  .collection-wrapper .product.feature .content a{
    margin:0 0 0 30px;
    padding:20px 0;
    position:relative;
  }
  .collection-wrapper .product.feature .content a:after{
    background-color:#000000;
    bottom:16px;
    content:"";
    height:1px;
    left:0;
    opacity:0;
    position:absolute;
    width:100%;
    -moz-transition:opacity 500ms ease, bottom 500ms ease;
    -ms-transition:opacity 500ms ease, bottom 500ms ease;
    -webkit-transition:opacity 500ms ease, bottom 500ms ease;
    transition:opacity 500ms ease, bottom 500ms ease;
  }
  .collection-wrapper .product.feature .content a:hover:after{
    opacity:1;
    bottom:11px;
  }
  .touch .collection-wrapper .product.feature .content a:hover:after{
    opacity:0;
  }
  .collection-wrapper .product.promo{

  }
  .collection-wrapper .product.promo .content{
    left:60px;
    position:absolute;
    top:50%;
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    padding:0 200px 0 0;
  }
  .collection-wrapper .product.promo .content.centered{
    left:0;
    padding:0 8.333%;
    text-align:center;
    width:100%;
  }
  .collection-wrapper .product.promo .content h2{
    display:inline;
    font-family:'bebas_neuebold';
    font-size:60px;
    left:70px;
    letter-spacing:4px;
    margin:0;
    max-width:400px;
    position:relative;
    text-transform:uppercase;
  }
  .collection-wrapper .product.promo .content.centered h2{
    left:0;
    max-width:none;
    width:100%;
    text-align:center;
  }
  .collection-wrapper .product.promo .content h2:before{
    content:"";
  }
  .collection-wrapper .product.promo .content h2.underline{
    background-image:linear-gradient(to bottom, black 0%, black 100%);
    background-position:0 1.3em;
    background-repeat:no-repeat;
    background-size:100%;
    transition:background-position 400ms linear 0s;
  }
  .touch .collection-wrapper .product.promo .content h2.underline{
    background:transparent !important;
  }
  .collection-wrapper .product.promo:hover .content h2.underline{
    background-position:0 1em;
  }
  .collection-wrapper .product.promo .content .outer{
    display:inline-block;
    position:absolute;
    left:7px;
    top:50%;
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    width:40px;
  }
  .collection-wrapper .product.promo .content .middle{
    margin-left:-300px;
    width:600px;
    text-align:center;
    position:absolute;
    left:0;
    top:35%;
    line-height:37px;
  }
  .collection-wrapper .product.promo .content .vertical{
    font-family:'bebas_neuebold';
    font-size:16px;
    margin:0;
    text-transform:uppercase;
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
  }
  .collection-wrapper .product:not(.fullscreen) .image img,
  .collection-wrapper .product:not(.promo) .image img{
    top:100px;
    opacity:0.01;
    position:relative;
    transition:top 500ms ease, opacity 500ms ease;
  }
  .collection-wrapper .product:nth-child(odd) .image img{
    transition-delay:250ms;
  }
  .collection-wrapper .product.scrolled .image img{
    top:0;
    opacity:1;
  }
  .collection-wrapper .video{
    left:50%;
    min-height:100%;
    min-width:100%;
    position:absolute;
    top:50%;
    -moz-transform:translateX(-50%) translateY(-50%);
    -ms-transform:translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
    height:100%;
  }
  .collection-wrapper .video img{

  }
  .collection-wrapper .image{
    background-position:center top;
    background-repeat:no-repeat;
    -moz-background-size:cover;
    -ms-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    height:100%;
    left:0;
    top:0;
    position:absolute;
    width:100%;
  }
  .collection-wrapper a.image{
    align-items:center;
    cursor:default;
    display:flex;
    justify-content:center;
    padding:0 16.66%;
    width:100%;
  }
  .touch .collection-wrapper a.image{
    pointer-events:none;
  }
  .collection-wrapper .image img{
    cursor:pointer;
  }
  .collection-wrapper .image span{
    cursor:pointer;
    opacity:0;
    pointer-events:none;
    -moz-transition:opacity 750ms ease;
    -ms-transition:opacity 750ms ease;
    -webkit-transition:opacity 750ms ease;
    transition:opacity 750ms ease;
  }
  .touch .collection-wrapper .image span{
    display:none !important;
  }
  .collection-wrapper .image:not(.transition) img:hover + span,
  .collection-wrapper .image span:hover,
  .collection-wrapper .show-child .image span{
    opacity:1;
    pointer-events:all;
  }
  .touch .collection-wrapper .image:not(.transition) img:hover + span,
  .touch .collection-wrapper .image span:hover{
    opacity:0;
    pointer-events:none;
  }
  .touch .collection-wrapper .image:not(.transition) img,
  .touch .collection-wrapper .image span{
    pointer-events:none;
  }
  .scroll-to-shop{
    bottom:0;
    cursor:pointer;
    left:50%;
    opacity:1;
    position:absolute;
    pointer-events:all;
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    -moz-transition:opacity 450ms ease;
    -ms-transition:opacity 450ms ease;
    -webkit-transition:opacity 450ms ease;
    transition:opacity 450ms ease;
  }
  .scroll-to-shop.fade{
    opacity:0;
    pointer-events:none;
  }
  .scroll-to-shop p{
    color:#ffffff;
    font-size:12px;
    letter-spacing:2px;
    line-height:14px;
    margin:0 0 90px;
    padding:0;
    position:relative;
    top:0;
    -moz-transition:top 450ms ease;
    -ms-transition:top 450ms ease;
    -webkit-transition:top 450ms ease;
    transition:top 450ms ease;
  }
  .scroll-to-shop:hover p{
    top:5px;
  }
  .touch .scroll-to-shop:hover p{
    top:5px;
  }
  @-webkit-keyframes lineAnim{
    0% {
      height:56px;
      top:0;
    }
    49.9% {
      height:0;
      top:0;
    }
    50%{
      top:56px;
    }
    50.1%{
      height:56px;
    }
    100% {

    }
  }
  @keyframes lineAnim{
    0% {
      height:60px;
      opacity:1;
      top:0;
    }
    49.9% {
      height:0;
      opacity:1;
      top:0;
    }
    50%{
      opacity:0;
      top:60px;
    }
    50.1%{
      opacity:1;
      height:60px;
    }
    100% {

    }
  }
  .scroll-to-shop .line:after{
    background-color:#ffffff;
    content:"";
    height:56px;
    left:0;
    position:absolute;
    top:0;
    width:1px;
    transform:translateZ(0);
    animation:lineAnim 1.5s 1s infinite;
  }
  .scroll-to-shop .line{
    bottom:0;
    height:56px;
    left:50%;
    overflow:hidden;
    position:absolute;
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    width:1px;
  }
  @media all and (max-width:1280px){
    .collection-wrapper .product.promo .content{
      padding:0 120px 0 0;
    }
    .collection-wrapper .product.promo .content h2,
    .collection-wrapper .product.feature .content,
    .collection-wrapper .product.feature .content *{
      font-size:50px;
    }
  }
  @media all and (max-width:1024px){
    .collection-wrapper a.image{
      padding:0 12%;
    }
    .collection-wrapper .product.promo .content{
      padding:0 80px 0 0;
    }
    .collection-wrapper .product.promo .content h2,
    .collection-wrapper .product.feature .content,
    .collection-wrapper .product.feature .content *{
      font-size:40px;
    }
  }
  @media all and (max-width:900px){
    .collection-wrapper .product.promo .content h2,
    .collection-wrapper .product.feature .content,
    .collection-wrapper .product.feature .content *{
      font-size:36px;
    }
  }
  @media all and (max-width: 768px){
    .collection-wrapper .product.promo .content h2,
    .collection-wrapper .product.feature .content,
    .collection-wrapper .product.feature .content *{
      font-size:28px;
    }
  }
  @media all and (max-width: 640px){
    .collection-wrapper .product.promo .content{
      left:40px;
    }
    .collection-wrapper .product.feature .content{
      left:90px;
    }
    .collection-wrapper .product.feature .content,
    .collection-wrapper .product.feature .content *{
      max-width:calc(100% - 130px);
    }
    .collection-wrapper .product.feature .content,
    .collection-wrapper .product.feature .content *{
      font-size:24px;
    }
    .collection-wrapper .product.promo .content h2{
      font-size:24px;
      left:50px;
    }
  }
  @media all and (max-width: 540px){
    .collection-wrapper .product{
      background-color:#ededed !important;
      padding-bottom:110%;
      width:100%;
    }
    .collection-wrapper .product.promo{
      padding:0 0 110%;
    }
    .collection-wrapper .product:nth-child(even){
      background-color:#e7e7e7 !important;
    }
    .collection-wrapper .product.promo .content h2,
    .collection-wrapper .product.feature .content,
    .collection-wrapper .product.feature .content *{
      font-size:40px;
    }
    .collection-wrapper .product:not(.fullscreen) .image img,
    .collection-wrapper .product:not(.promo) .image img{
      top:50px;
    }
    .collection-wrapper .product.scrolled .image img{
      top:0 !important;
    }
  }
  @media all and (max-width: 360px){
    .collection-wrapper .product.promo .content h2,
    .collection-wrapper .product.feature .content,
    .collection-wrapper .product.feature .content *{
      font-size:30px;
    }
  }
</style>

<!-- Example  -->
<!-- <h1>{{  collection.metafields.promotion.number }}</h1>
{% assign mainimage = "image"| append:collection.metafields.promotion.number %}
<h1> {{ collection.metafields.promotion[mainimage]}}</h1>
<h1> {{ collection.metafields.promotion | sort: 'image'}}</h1> -->
<!-- endExample -->

<div class="collection-grid group">
  <div class="{% if collection.image != blank and collection.metafields.c_f.collection_mobile_image != blank or collection.metafields.c_f.media_video_mp4 != blank %}collection-wrapper group{% else %}collection-wrapper heroless group{% endif %}">
    {% assign collec_query = collection.metafields.c_f.collection_mobile_image | split: '?' %}
    <!-- {{collec_query}} -->
    {% assign collec_array = collec_query.first | split: '/' %}
    {% if collection.image != blank and collection.metafields.c_f.collection_mobile_image != blank or collection.metafields.c_f.media_video_mp4 != blank %}
      <div class="product feature fullscreen">
        {% if collection.metafields.c_f.media_video_mp4 != blank %}

          <video id="video-1" class="video" autoplay muted loop preload="metadata" playsinline>
            <source src="{{ collection.metafields.c_f.media_video_mp4 }}" type="video/mp4" />
              {% if collection.metafields.c_f.media_video_webm != blank %}
                <source src="{{ collection.metafields.c_f.media_video_webm }}" type="video/webm" />
              {% endif %}
            <img src="" data-image="{{ collection.image | img_url: '2048x' }}" data-image-m="{{ collec_array.last | file_img_url: '1024x' }}" />
          </video>
        {% else %}
          {% if collection.image != blank %}
            <div class="image" data-image="{{ collection.image | img_url: '2048x' }}" data-image-m="{{ collec_array.last | file_img_url: '1024x' }}"></div>
          {% endif %}
        {% endif %}
        <div class="scroll-to-shop">
          <div class="line"></div>
        </div>
        <div class="content group">
          {{ collection.description }}
        </div>
      </div>
    {% endif %}

    <!-- {% assign promo_index = collection.metafields.c_f.promo_position | times: 1 %} -->
    {% for product in collection.products %}
      {% assign i = forloop.index %}
      {% assign flag = false %}
      <!-- Need to loop through all my promo and if position == loop position pass the right ID -->


      {% if collection.metafields.c_f.number != blank %}

        {% for j in (1..collection.metafields.c_f.number) %}
          {% assign promotion_position = "position"| append: j %}
          {% assign my_promotion_position = collection.metafields.c_f[promotion_position] | times: 1 %}
          {% if my_promotion_position == i %}
            {% assign flag = true %}
            {% include 'collection-promotion' with collection, id: j %}
          {% endif %}
        {% endfor %}

        <!-- {% if flag == false %} -->
          {% include 'collection-product' with collection, product %}
        <!-- {% endif %} -->

      {% else %}
          {% include 'collection-product' with collection, product %}

      {% endif %}
    {% assign flag = false %}
    {% endfor %}
    {% assign number_product = collection.all_products_count | plus: 1 %}
    {% for j in (1..collection.metafields.c_f.number) %}
      {% assign promotion_position = "position"| append: j %}
      {% assign my_promotion_position = collection.metafields.c_f[promotion_position] | times: 1 %}
      {% if my_promotion_position == number_product %}
        {% include 'collection-promotion' with collection, id: j %}
      {% endif %}
    {% endfor %}
  </div>
</div>

  <script type="text/javascript">
    /*! jQuery UI - v1.12.1 - 2017-02-18
* http://jqueryui.com
* Includes: widget.js
* Copyright jQuery Foundation and other contributors; Licensed MIT */

(function(t){"function"==typeof define&&define.amd?define(["jquery"],t):t(jQuery)})(function(t){t.ui=t.ui||{},t.ui.version="1.12.1";var e=0,i=Array.prototype.slice;t.cleanData=function(e){return function(i){var s,n,o;for(o=0;null!=(n=i[o]);o++)try{s=t._data(n,"events"),s&&s.remove&&t(n).triggerHandler("remove")}catch(a){}e(i)}}(t.cleanData),t.widget=function(e,i,s){var n,o,a,r={},l=e.split(".")[0];e=e.split(".")[1];var h=l+"-"+e;return s||(s=i,i=t.Widget),t.isArray(s)&&(s=t.extend.apply(null,[{}].concat(s))),t.expr[":"][h.toLowerCase()]=function(e){return!!t.data(e,h)},t[l]=t[l]||{},n=t[l][e],o=t[l][e]=function(t,e){return this._createWidget?(arguments.length&&this._createWidget(t,e),void 0):new o(t,e)},t.extend(o,n,{version:s.version,_proto:t.extend({},s),_childConstructors:[]}),a=new i,a.options=t.widget.extend({},a.options),t.each(s,function(e,s){return t.isFunction(s)?(r[e]=function(){function t(){return i.prototype[e].apply(this,arguments)}function n(t){return i.prototype[e].apply(this,t)}return function(){var e,i=this._super,o=this._superApply;return this._super=t,this._superApply=n,e=s.apply(this,arguments),this._super=i,this._superApply=o,e}}(),void 0):(r[e]=s,void 0)}),o.prototype=t.widget.extend(a,{widgetEventPrefix:n?a.widgetEventPrefix||e:e},r,{constructor:o,namespace:l,widgetName:e,widgetFullName:h}),n?(t.each(n._childConstructors,function(e,i){var s=i.prototype;t.widget(s.namespace+"."+s.widgetName,o,i._proto)}),delete n._childConstructors):i._childConstructors.push(o),t.widget.bridge(e,o),o},t.widget.extend=function(e){for(var s,n,o=i.call(arguments,1),a=0,r=o.length;r>a;a++)for(s in o[a])n=o[a][s],o[a].hasOwnProperty(s)&&void 0!==n&&(e[s]=t.isPlainObject(n)?t.isPlainObject(e[s])?t.widget.extend({},e[s],n):t.widget.extend({},n):n);return e},t.widget.bridge=function(e,s){var n=s.prototype.widgetFullName||e;t.fn[e]=function(o){var a="string"==typeof o,r=i.call(arguments,1),l=this;return a?this.length||"instance"!==o?this.each(function(){var i,s=t.data(this,n);return"instance"===o?(l=s,!1):s?t.isFunction(s[o])&&"_"!==o.charAt(0)?(i=s[o].apply(s,r),i!==s&&void 0!==i?(l=i&&i.jquery?l.pushStack(i.get()):i,!1):void 0):t.error("no such method '"+o+"' for "+e+" widget instance"):t.error("cannot call methods on "+e+" prior to initialization; "+"attempted to call method '"+o+"'")}):l=void 0:(r.length&&(o=t.widget.extend.apply(null,[o].concat(r))),this.each(function(){var e=t.data(this,n);e?(e.option(o||{}),e._init&&e._init()):t.data(this,n,new s(o,this))})),l}},t.Widget=function(){},t.Widget._childConstructors=[],t.Widget.prototype={widgetName:"widget",widgetEventPrefix:"",defaultElement:"<div>",options:{classes:{},disabled:!1,create:null},_createWidget:function(i,s){s=t(s||this.defaultElement||this)[0],this.element=t(s),this.uuid=e++,this.eventNamespace="."+this.widgetName+this.uuid,this.bindings=t(),this.hoverable=t(),this.focusable=t(),this.classesElementLookup={},s!==this&&(t.data(s,this.widgetFullName,this),this._on(!0,this.element,{remove:function(t){t.target===s&&this.destroy()}}),this.document=t(s.style?s.ownerDocument:s.document||s),this.window=t(this.document[0].defaultView||this.document[0].parentWindow)),this.options=t.widget.extend({},this.options,this._getCreateOptions(),i),this._create(),this.options.disabled&&this._setOptionDisabled(this.options.disabled),this._trigger("create",null,this._getCreateEventData()),this._init()},_getCreateOptions:function(){return{}},_getCreateEventData:t.noop,_create:t.noop,_init:t.noop,destroy:function(){var e=this;this._destroy(),t.each(this.classesElementLookup,function(t,i){e._removeClass(i,t)}),this.element.off(this.eventNamespace).removeData(this.widgetFullName),this.widget().off(this.eventNamespace).removeAttr("aria-disabled"),this.bindings.off(this.eventNamespace)},_destroy:t.noop,widget:function(){return this.element},option:function(e,i){var s,n,o,a=e;if(0===arguments.length)return t.widget.extend({},this.options);if("string"==typeof e)if(a={},s=e.split("."),e=s.shift(),s.length){for(n=a[e]=t.widget.extend({},this.options[e]),o=0;s.length-1>o;o++)n[s[o]]=n[s[o]]||{},n=n[s[o]];if(e=s.pop(),1===arguments.length)return void 0===n[e]?null:n[e];n[e]=i}else{if(1===arguments.length)return void 0===this.options[e]?null:this.options[e];a[e]=i}return this._setOptions(a),this},_setOptions:function(t){var e;for(e in t)this._setOption(e,t[e]);return this},_setOption:function(t,e){return"classes"===t&&this._setOptionClasses(e),this.options[t]=e,"disabled"===t&&this._setOptionDisabled(e),this},_setOptionClasses:function(e){var i,s,n;for(i in e)n=this.classesElementLookup[i],e[i]!==this.options.classes[i]&&n&&n.length&&(s=t(n.get()),this._removeClass(n,i),s.addClass(this._classes({element:s,keys:i,classes:e,add:!0})))},_setOptionDisabled:function(t){this._toggleClass(this.widget(),this.widgetFullName+"-disabled",null,!!t),t&&(this._removeClass(this.hoverable,null,"ui-state-hover"),this._removeClass(this.focusable,null,"ui-state-focus"))},enable:function(){return this._setOptions({disabled:!1})},disable:function(){return this._setOptions({disabled:!0})},_classes:function(e){function i(i,o){var a,r;for(r=0;i.length>r;r++)a=n.classesElementLookup[i[r]]||t(),a=e.add?t(t.unique(a.get().concat(e.element.get()))):t(a.not(e.element).get()),n.classesElementLookup[i[r]]=a,s.push(i[r]),o&&e.classes[i[r]]&&s.push(e.classes[i[r]])}var s=[],n=this;return e=t.extend({element:this.element,classes:this.options.classes||{}},e),this._on(e.element,{remove:"_untrackClassesElement"}),e.keys&&i(e.keys.match(/\S+/g)||[],!0),e.extra&&i(e.extra.match(/\S+/g)||[]),s.join(" ")},_untrackClassesElement:function(e){var i=this;t.each(i.classesElementLookup,function(s,n){-1!==t.inArray(e.target,n)&&(i.classesElementLookup[s]=t(n.not(e.target).get()))})},_removeClass:function(t,e,i){return this._toggleClass(t,e,i,!1)},_addClass:function(t,e,i){return this._toggleClass(t,e,i,!0)},_toggleClass:function(t,e,i,s){s="boolean"==typeof s?s:i;var n="string"==typeof t||null===t,o={extra:n?e:i,keys:n?t:e,element:n?this.element:t,add:s};return o.element.toggleClass(this._classes(o),s),this},_on:function(e,i,s){var n,o=this;"boolean"!=typeof e&&(s=i,i=e,e=!1),s?(i=n=t(i),this.bindings=this.bindings.add(i)):(s=i,i=this.element,n=this.widget()),t.each(s,function(s,a){function r(){return e||o.options.disabled!==!0&&!t(this).hasClass("ui-state-disabled")?("string"==typeof a?o[a]:a).apply(o,arguments):void 0}"string"!=typeof a&&(r.guid=a.guid=a.guid||r.guid||t.guid++);var l=s.match(/^([\w:-]*)\s*(.*)$/),h=l[1]+o.eventNamespace,c=l[2];c?n.on(h,c,r):i.on(h,r)})},_off:function(e,i){i=(i||"").split(" ").join(this.eventNamespace+" ")+this.eventNamespace,e.off(i).off(i),this.bindings=t(this.bindings.not(e).get()),this.focusable=t(this.focusable.not(e).get()),this.hoverable=t(this.hoverable.not(e).get())},_delay:function(t,e){function i(){return("string"==typeof t?s[t]:t).apply(s,arguments)}var s=this;return setTimeout(i,e||0)},_hoverable:function(e){this.hoverable=this.hoverable.add(e),this._on(e,{mouseenter:function(e){this._addClass(t(e.currentTarget),null,"ui-state-hover")},mouseleave:function(e){this._removeClass(t(e.currentTarget),null,"ui-state-hover")}})},_focusable:function(e){this.focusable=this.focusable.add(e),this._on(e,{focusin:function(e){this._addClass(t(e.currentTarget),null,"ui-state-focus")},focusout:function(e){this._removeClass(t(e.currentTarget),null,"ui-state-focus")}})},_trigger:function(e,i,s){var n,o,a=this.options[e];if(s=s||{},i=t.Event(i),i.type=(e===this.widgetEventPrefix?e:this.widgetEventPrefix+e).toLowerCase(),i.target=this.element[0],o=i.originalEvent)for(n in o)n in i||(i[n]=o[n]);return this.element.trigger(i,s),!(t.isFunction(a)&&a.apply(this.element[0],[i].concat(s))===!1||i.isDefaultPrevented())}},t.each({show:"fadeIn",hide:"fadeOut"},function(e,i){t.Widget.prototype["_"+e]=function(s,n,o){"string"==typeof n&&(n={effect:n});var a,r=n?n===!0||"number"==typeof n?i:n.effect||i:e;n=n||{},"number"==typeof n&&(n={duration:n}),a=!t.isEmptyObject(n),n.complete=o,n.delay&&s.delay(n.delay),a&&t.effects&&t.effects.effect[r]?s[e](n):r!==e&&s[r]?s[r](n.duration,n.easing,o):s.queue(function(i){t(this)[e](),o&&o.call(s[0]),i()})}}),t.widget});
    /*! jquery.selectBoxIt - v3.8.1 - 2013-11-17
* http://www.selectboxit.com
* Copyright (c) 2013 Greg Franko; Licensed MIT*/
!function(a){"use strict";a(window.jQuery,window,document)}(function(a,b,c,d){"use strict";a.widget("selectBox.selectBoxIt",{VERSION:"3.8.1",options:{showEffect:"none",showEffectOptions:{},showEffectSpeed:"medium",hideEffect:"none",hideEffectOptions:{},hideEffectSpeed:"medium",showFirstOption:!0,defaultText:"",defaultIcon:"",downArrowIcon:"",theme:"default",keydownOpen:!0,isMobile:function(){var a=navigator.userAgent||navigator.vendor||b.opera;return/iPhone|iPod|iPad|Silk|Android|BlackBerry|Opera Mini|IEMobile/.test(a)},"native":!1,aggressiveChange:!1,selectWhenHidden:!0,viewport:a(b),similarSearch:!1,copyAttributes:["title","rel"],copyClasses:"button",nativeMousedown:!1,customShowHideEvent:!1,autoWidth:!0,html:!0,populate:"",dynamicPositioning:!0,hideCurrent:!1},getThemes:function(){var b=this,c=a(b.element).attr("data-theme")||"c";return{bootstrap:{focus:"active",hover:"",enabled:"enabled",disabled:"disabled",arrow:"caret",button:"btn",list:"dropdown-menu",container:"bootstrap",open:"open"},jqueryui:{focus:"ui-state-focus",hover:"ui-state-hover",enabled:"ui-state-enabled",disabled:"ui-state-disabled",arrow:"ui-icon ui-icon-triangle-1-s",button:"ui-widget ui-state-default",list:"ui-widget ui-widget-content",container:"jqueryui",open:"selectboxit-open"},jquerymobile:{focus:"ui-btn-down-"+c,hover:"ui-btn-hover-"+c,enabled:"ui-enabled",disabled:"ui-disabled",arrow:"ui-icon ui-icon-arrow-d ui-icon-shadow",button:"ui-btn ui-btn-icon-right ui-btn-corner-all ui-shadow ui-btn-up-"+c,list:"ui-btn ui-btn-icon-right ui-btn-corner-all ui-shadow ui-btn-up-"+c,container:"jquerymobile",open:"selectboxit-open"},"default":{focus:"selectboxit-focus",hover:"selectboxit-hover",enabled:"selectboxit-enabled",disabled:"selectboxit-disabled",arrow:"selectboxit-default-arrow",button:"selectboxit-btn",list:"selectboxit-list",container:"selectboxit-container",open:"selectboxit-open"}}},isDeferred:function(b){return a.isPlainObject(b)&&b.promise&&b.done},_create:function(b){var d=this,e=d.options.populate,f=d.options.theme;if(d.element.is("select"))return d.widgetProto=a.Widget.prototype,d.originalElem=d.element[0],d.selectBox=d.element,d.options.populate&&d.add&&!b&&d.add(e),d.selectItems=d.element.find("option"),d.firstSelectItem=d.selectItems.slice(0,1),d.documentHeight=a(c).height(),d.theme=a.isPlainObject(f)?a.extend({},d.getThemes()["default"],f):d.getThemes()[f]?d.getThemes()[f]:d.getThemes()["default"],d.currentFocus=0,d.blur=!0,d.textArray=[],d.currentIndex=0,d.currentText="",d.flipped=!1,b||(d.selectBoxStyles=d.selectBox.attr("style")),d._createDropdownButton()._createUnorderedList()._copyAttributes()._replaceSelectBox()._addClasses(d.theme)._eventHandlers(),d.originalElem.disabled&&d.disable&&d.disable(),d._ariaAccessibility&&d._ariaAccessibility(),d.isMobile=d.options.isMobile(),d._mobile&&d._mobile(),d.options["native"]&&this._applyNativeSelect(),d.triggerEvent("create"),d},_createDropdownButton:function(){var b=this,c=b.originalElemId=b.originalElem.id||"",d=b.originalElemValue=b.originalElem.value||"",e=b.originalElemName=b.originalElem.name||"",f=b.options.copyClasses,g=b.selectBox.attr("class")||"";return b.dropdownText=a("<span/>",{id:c&&c+"SelectBoxItText","class":"selectboxit-text",unselectable:"on",text:b.firstSelectItem.text()}).attr("data-val",d),b.dropdownImageContainer=a("<span/>",{"class":"selectboxit-option-icon-container"}),b.dropdownImage=a("<i/>",{id:c&&c+"SelectBoxItDefaultIcon","class":"selectboxit-default-icon",unselectable:"on"}),b.dropdown=a("<span/>",{id:c&&c+"SelectBoxIt","class":"selectboxit "+("button"===f?g:"")+" "+(b.selectBox.prop("disabled")?b.theme.disabled:b.theme.enabled),name:e,tabindex:b.selectBox.attr("tabindex")||"0",unselectable:"on"}).append(b.dropdownImageContainer.append(b.dropdownImage)).append(b.dropdownText),b.dropdownContainer=a("<span/>",{id:c&&c+"SelectBoxItContainer","class":"selectboxit-container "+b.theme.container+" "+("container"===f?g:"")}).append(b.dropdown),b},_createUnorderedList:function(){var b,c,d,e,f,g,h,i,j,k,l,m,n,o=this,p="",q=o.originalElemId||"",r=a("<ul/>",{id:q&&q+"SelectBoxItOptions","class":"selectboxit-options",tabindex:-1});if(o.options.showFirstOption||(o.selectItems.first().attr("disabled","disabled"),o.selectItems=o.selectBox.find("option").slice(1)),o.selectItems.each(function(q){m=a(this),c="",d="",b=m.prop("disabled"),e=m.attr("data-icon")||"",f=m.attr("data-iconurl")||"",g=f?"selectboxit-option-icon-url":"",h=f?"style=\"background-image:url('"+f+"');\"":"",i=m.attr("data-selectedtext"),j=m.attr("data-text"),l=j?j:m.text(),n=m.parent(),n.is("optgroup")&&(c="selectboxit-optgroup-option",0===m.index()&&(d='<span class="selectboxit-optgroup-header '+n.first().attr("class")+'"data-disabled="true">'+n.first().attr("label")+"</span>")),m.attr("value",this.value),p+=d+'<li data-id="'+q+'" data-val="'+this.value+'" data-disabled="'+b+'" class="'+c+" selectboxit-option "+(a(this).attr("class")||"")+'"><a class="selectboxit-option-anchor"><span class="selectboxit-option-icon-container"><i class="selectboxit-option-icon '+e+" "+(g||o.theme.container)+'"'+h+"></i></span>"+(o.options.html?l:o.htmlEscape(l))+"</a></li>",k=m.attr("data-search"),o.textArray[q]=b?"":k?k:l,this.selected&&(o._setText(o.dropdownText,i||l),o.currentFocus=q)}),o.options.defaultText||o.selectBox.attr("data-text")){var s=o.options.defaultText||o.selectBox.attr("data-text");o._setText(o.dropdownText,s),o.options.defaultText=s}return r.append(p),o.list=r,o.dropdownContainer.append(o.list),o.listItems=o.list.children("li"),o.listAnchors=o.list.find("a"),o.listItems.first().addClass("selectboxit-option-first"),o.listItems.last().addClass("selectboxit-option-last"),o.list.find("li[data-disabled='true']").not(".optgroupHeader").addClass(o.theme.disabled),o.dropdownImage.addClass(o.selectBox.attr("data-icon")||o.options.defaultIcon||o.listItems.eq(o.currentFocus).find("i").attr("class")),o.dropdownImage.attr("style",o.listItems.eq(o.currentFocus).find("i").attr("style")),o},_replaceSelectBox:function(){var b,c,e,f=this,g=f.originalElem.id||"",h=f.selectBox.attr("data-size"),i=f.listSize=h===d?"auto":"0"===h?"auto":+h;return f.selectBox.css("display","none").after(f.dropdownContainer),f.dropdownContainer.appendTo("body").addClass("selectboxit-rendering"),b=f.dropdown.height(),f.downArrow=a("<i/>",{id:g&&g+"SelectBoxItArrow","class":"selectboxit-arrow",unselectable:"on"}),f.downArrowContainer=a("<span/>",{id:g&&g+"SelectBoxItArrowContainer","class":"selectboxit-arrow-container",unselectable:"on"}).append(f.downArrow),f.dropdown.append(f.downArrowContainer),f.listItems.removeClass("selectboxit-selected").eq(f.currentFocus).addClass("selectboxit-selected"),c=f.downArrowContainer.outerWidth(!0),e=f.dropdownImage.outerWidth(!0),f.options.autoWidth&&(f.dropdown.css({width:"auto"}).css({width:f.list.outerWidth(!0)+c+e}),f.list.css({"min-width":f.dropdown.width()})),f.dropdownText.css({"max-width":f.dropdownContainer.outerWidth(!0)-(c+e)}),f.selectBox.after(f.dropdownContainer),f.dropdownContainer.removeClass("selectboxit-rendering"),"number"===a.type(i)&&(f.maxHeight=f.listAnchors.outerHeight(!0)*i),f},_scrollToView:function(a){var b=this,c=b.listItems.eq(b.currentFocus),d=b.list.scrollTop(),e=c.height(),f=c.position().top,g=Math.abs(f),h=b.list.height();return"search"===a?e>h-f?b.list.scrollTop(d+(f-(h-e))):-1>f&&b.list.scrollTop(f-e):"up"===a?-1>f&&b.list.scrollTop(d-g):"down"===a&&e>h-f&&b.list.scrollTop(d+(g-h+e)),b},_callbackSupport:function(b){var c=this;return a.isFunction(b)&&b.call(c,c.dropdown),c},_setText:function(a,b){var c=this;return c.options.html?a.html(b):a.text(b),c},open:function(a){var b=this,c=b.options.showEffect,d=b.options.showEffectSpeed,e=b.options.showEffectOptions,f=b.options["native"],g=b.isMobile;return!b.listItems.length||b.dropdown.hasClass(b.theme.disabled)?b:(f||g||this.list.is(":visible")||(b.triggerEvent("open"),b._dynamicPositioning&&b.options.dynamicPositioning&&b._dynamicPositioning(),"none"===c?b.list.show():"show"===c||"slideDown"===c||"fadeIn"===c?b.list[c](d):b.list.show(c,e,d),b.list.promise().done(function(){b._scrollToView("search"),b.triggerEvent("opened")})),b._callbackSupport(a),b)},close:function(a){var b=this,c=b.options.hideEffect,d=b.options.hideEffectSpeed,e=b.options.hideEffectOptions,f=b.options["native"],g=b.isMobile;return f||g||!b.list.is(":visible")||(b.triggerEvent("close"),"none"===c?b.list.hide():"hide"===c||"slideUp"===c||"fadeOut"===c?b.list[c](d):b.list.hide(c,e,d),b.list.promise().done(function(){b.triggerEvent("closed")})),b._callbackSupport(a),b},toggle:function(){var a=this,b=a.list.is(":visible");b?a.close():b||a.open()},_keyMappings:{38:"up",40:"down",13:"enter",8:"backspace",9:"tab",32:"space",27:"esc"},_keydownMethods:function(){var a=this,b=a.list.is(":visible")||!a.options.keydownOpen;return{down:function(){a.moveDown&&b&&a.moveDown()},up:function(){a.moveUp&&b&&a.moveUp()},enter:function(){var b=a.listItems.eq(a.currentFocus);a._update(b),"true"!==b.attr("data-preventclose")&&a.close(),a.triggerEvent("enter")},tab:function(){a.triggerEvent("tab-blur"),a.close()},backspace:function(){a.triggerEvent("backspace")},esc:function(){a.close()}}},_eventHandlers:function(){var b,c,d=this,e=d.options.nativeMousedown,f=d.options.customShowHideEvent,g=d.focusClass,h=d.hoverClass,i=d.openClass;return this.dropdown.on({"click.selectBoxIt":function(){d.dropdown.trigger("focus",!0),d.originalElem.disabled||(d.triggerEvent("click"),e||f||d.toggle())},"mousedown.selectBoxIt":function(){a(this).data("mdown",!0),d.triggerEvent("mousedown"),e&&!f&&d.toggle()},"mouseup.selectBoxIt":function(){d.triggerEvent("mouseup")},"blur.selectBoxIt":function(){d.blur&&(d.triggerEvent("blur"),d.close(),a(this).removeClass(g))},"focus.selectBoxIt":function(b,c){var e=a(this).data("mdown");a(this).removeData("mdown"),e||c||setTimeout(function(){d.triggerEvent("tab-focus")},0),c||(a(this).hasClass(d.theme.disabled)||a(this).addClass(g),d.triggerEvent("focus"))},"keydown.selectBoxIt":function(a){var b=d._keyMappings[a.keyCode],c=d._keydownMethods()[b];c&&(c(),!d.options.keydownOpen||"up"!==b&&"down"!==b||d.open()),c&&"tab"!==b&&a.preventDefault()},"keypress.selectBoxIt":function(a){var b=a.charCode||a.keyCode,c=d._keyMappings[a.charCode||a.keyCode],e=String.fromCharCode(b);d.search&&(!c||c&&"space"===c)&&d.search(e,!0,!0),"space"===c&&a.preventDefault()},"mouseenter.selectBoxIt":function(){d.triggerEvent("mouseenter")},"mouseleave.selectBoxIt":function(){d.triggerEvent("mouseleave")}}),d.list.on({"mouseover.selectBoxIt":function(){d.blur=!1},"mouseout.selectBoxIt":function(){d.blur=!0},"focusin.selectBoxIt":function(){d.dropdown.trigger("focus",!0)}}),d.list.on({"mousedown.selectBoxIt":function(){d._update(a(this)),d.triggerEvent("option-click"),"false"===a(this).attr("data-disabled")&&"true"!==a(this).attr("data-preventclose")&&d.close(),setTimeout(function(){d.dropdown.trigger("focus",!0)},0)},"focusin.selectBoxIt":function(){d.listItems.not(a(this)).removeAttr("data-active"),a(this).attr("data-active","");var b=d.list.is(":hidden");(d.options.searchWhenHidden&&b||d.options.aggressiveChange||b&&d.options.selectWhenHidden)&&d._update(a(this)),a(this).addClass(g)},"mouseup.selectBoxIt":function(){e&&!f&&(d._update(a(this)),d.triggerEvent("option-mouseup"),"false"===a(this).attr("data-disabled")&&"true"!==a(this).attr("data-preventclose")&&d.close())},"mouseenter.selectBoxIt":function(){"false"===a(this).attr("data-disabled")&&(d.listItems.removeAttr("data-active"),a(this).addClass(g).attr("data-active",""),d.listItems.not(a(this)).removeClass(g),a(this).addClass(g),d.currentFocus=+a(this).attr("data-id"))},"mouseleave.selectBoxIt":function(){"false"===a(this).attr("data-disabled")&&(d.listItems.not(a(this)).removeClass(g).removeAttr("data-active"),a(this).addClass(g),d.currentFocus=+a(this).attr("data-id"))},"blur.selectBoxIt":function(){a(this).removeClass(g)}},".selectboxit-option"),d.list.on({"click.selectBoxIt":function(a){a.preventDefault()}},"a"),d.selectBox.on({"change.selectBoxIt, internal-change.selectBoxIt":function(a,e){var f,g;e||(f=d.list.find('li[data-val="'+d.originalElem.value+'"]'),f.length&&(d.listItems.eq(d.currentFocus).removeClass(d.focusClass),d.currentFocus=+f.attr("data-id"))),f=d.listItems.eq(d.currentFocus),g=f.attr("data-selectedtext"),b=f.attr("data-text"),c=b?b:f.find("a").text(),d._setText(d.dropdownText,g||c),d.dropdownText.attr("data-val",d.originalElem.value),f.find("i").attr("class")&&(d.dropdownImage.attr("class",f.find("i").attr("class")).addClass("selectboxit-default-icon"),d.dropdownImage.attr("style",f.find("i").attr("style"))),d.triggerEvent("changed")},"disable.selectBoxIt":function(){d.dropdown.addClass(d.theme.disabled)},"enable.selectBoxIt":function(){d.dropdown.removeClass(d.theme.disabled)},"open.selectBoxIt":function(){var a,b=d.list.find("li[data-val='"+d.dropdownText.attr("data-val")+"']");b.length||(b=d.listItems.not("[data-disabled=true]").first()),d.currentFocus=+b.attr("data-id"),a=d.listItems.eq(d.currentFocus),d.dropdown.addClass(i).removeClass(h).addClass(g),d.listItems.removeClass(d.selectedClass).removeAttr("data-active").not(a).removeClass(g),a.addClass(d.selectedClass).addClass(g),d.options.hideCurrent&&(d.listItems.show(),a.hide())},"close.selectBoxIt":function(){d.dropdown.removeClass(i)},"blur.selectBoxIt":function(){d.dropdown.removeClass(g)},"mouseenter.selectBoxIt":function(){a(this).hasClass(d.theme.disabled)||d.dropdown.addClass(h)},"mouseleave.selectBoxIt":function(){d.dropdown.removeClass(h)},destroy:function(a){a.preventDefault(),a.stopPropagation()}}),d},_update:function(a){var b,c,d,e=this,f=e.options.defaultText||e.selectBox.attr("data-text"),g=e.listItems.eq(e.currentFocus);"false"===a.attr("data-disabled")&&(b=e.listItems.eq(e.currentFocus).attr("data-selectedtext"),c=g.attr("data-text"),d=c?c:g.text(),(f&&e.options.html?e.dropdownText.html()===f:e.dropdownText.text()===f)&&e.selectBox.val()===a.attr("data-val")?e.triggerEvent("change"):(e.selectBox.val(a.attr("data-val")),e.currentFocus=+a.attr("data-id"),e.originalElem.value!==e.dropdownText.attr("data-val")&&e.triggerEvent("change")))},_addClasses:function(a){var b=this,c=(b.focusClass=a.focus,b.hoverClass=a.hover,a.button),d=a.list,e=a.arrow,f=a.container;return b.openClass=a.open,b.selectedClass="selectboxit-selected",b.downArrow.addClass(b.selectBox.attr("data-downarrow")||b.options.downArrowIcon||e),b.dropdownContainer.addClass(f),b.dropdown.addClass(c),b.list.addClass(d),b},refresh:function(a,b){var c=this;return c._destroySelectBoxIt()._create(!0),b||c.triggerEvent("refresh"),c._callbackSupport(a),c},htmlEscape:function(a){return String(a).replace(/&/g,"&amp;").replace(/"/g,"&quot;").replace(/'/g,"&#39;").replace(/</g,"&lt;").replace(/>/g,"&gt;")},triggerEvent:function(a){var b=this,c=b.options.showFirstOption?b.currentFocus:b.currentFocus-1>=0?b.currentFocus:0;return b.selectBox.trigger(a,{selectbox:b.selectBox,selectboxOption:b.selectItems.eq(c),dropdown:b.dropdown,dropdownOption:b.listItems.eq(b.currentFocus)}),b},_copyAttributes:function(){var a=this;return a._addSelectBoxAttributes&&a._addSelectBoxAttributes(),a},_realOuterWidth:function(a){if(a.is(":visible"))return a.outerWidth(!0);var b,c=a.clone();return c.css({visibility:"hidden",display:"block",position:"absolute"}).appendTo("body"),b=c.outerWidth(!0),c.remove(),b}});var e=a.selectBox.selectBoxIt.prototype;e.add=function(b,c){this._populate(b,function(b){var d,e,f=this,g=a.type(b),h=0,i=[],j=f._isJSON(b),k=j&&f._parseJSON(b);if(b&&("array"===g||j&&k.data&&"array"===a.type(k.data))||"object"===g&&b.data&&"array"===a.type(b.data)){for(f._isJSON(b)&&(b=k),b.data&&(b=b.data),e=b.length;e-1>=h;h+=1)d=b[h],a.isPlainObject(d)?i.push(a("<option/>",d)):"string"===a.type(d)&&i.push(a("<option/>",{text:d,value:d}));f.selectBox.append(i)}else b&&"string"===g&&!f._isJSON(b)?f.selectBox.append(b):b&&"object"===g?f.selectBox.append(a("<option/>",b)):b&&f._isJSON(b)&&a.isPlainObject(f._parseJSON(b))&&f.selectBox.append(a("<option/>",f._parseJSON(b)));return f.dropdown?f.refresh(function(){f._callbackSupport(c)},!0):f._callbackSupport(c),f})},e._parseJSON=function(b){return JSON&&JSON.parse&&JSON.parse(b)||a.parseJSON(b)},e._isJSON=function(a){var b,c=this;try{return b=c._parseJSON(a),!0}catch(d){return!1}},e._populate=function(b,c){var d=this;return b=a.isFunction(b)?b.call():b,d.isDeferred(b)?b.done(function(a){c.call(d,a)}):c.call(d,b),d},e._ariaAccessibility=function(){var b=this,c=a("label[for='"+b.originalElem.id+"']");return b.dropdownContainer.attr({role:"combobox","aria-autocomplete":"list","aria-haspopup":"true","aria-expanded":"false","aria-owns":b.list[0].id}),b.dropdownText.attr({"aria-live":"polite"}),b.dropdown.on({"disable.selectBoxIt":function(){b.dropdownContainer.attr("aria-disabled","true")},"enable.selectBoxIt":function(){b.dropdownContainer.attr("aria-disabled","false")}}),c.length&&b.dropdownContainer.attr("aria-labelledby",c[0].id),b.list.attr({role:"listbox","aria-hidden":"true"}),b.listItems.attr({role:"option"}),b.selectBox.on({"open.selectBoxIt":function(){b.list.attr("aria-hidden","false"),b.dropdownContainer.attr("aria-expanded","true")},"close.selectBoxIt":function(){b.list.attr("aria-hidden","true"),b.dropdownContainer.attr("aria-expanded","false")}}),b},e._addSelectBoxAttributes=function(){var b=this;return b._addAttributes(b.selectBox.prop("attributes"),b.dropdown),b.selectItems.each(function(c){b._addAttributes(a(this).prop("attributes"),b.listItems.eq(c))}),b},e._addAttributes=function(b,c){var d=this,e=d.options.copyAttributes;return b.length&&a.each(b,function(b,d){var f=d.name.toLowerCase(),g=d.value;"null"===g||-1===a.inArray(f,e)&&-1===f.indexOf("data")||c.attr(f,g)}),d},e.destroy=function(a){var b=this;return b._destroySelectBoxIt(),b.widgetProto.destroy.call(b),b._callbackSupport(a),b},e._destroySelectBoxIt=function(){var b=this;return b.dropdown.off(".selectBoxIt"),a.contains(b.dropdownContainer[0],b.originalElem)&&b.dropdownContainer.before(b.selectBox),b.dropdownContainer.remove(),b.selectBox.removeAttr("style").attr("style",b.selectBoxStyles),b.triggerEvent("destroy"),b},e.disable=function(a){var b=this;return b.options.disabled||(b.close(),b.selectBox.attr("disabled","disabled"),b.dropdown.removeAttr("tabindex").removeClass(b.theme.enabled).addClass(b.theme.disabled),b.setOption("disabled",!0),b.triggerEvent("disable")),b._callbackSupport(a),b},e.disableOption=function(b,c){var d,e,f,g=this,h=a.type(b);return"number"===h&&(g.close(),d=g.selectBox.find("option").eq(b),g.triggerEvent("disable-option"),d.attr("disabled","disabled"),g.listItems.eq(b).attr("data-disabled","true").addClass(g.theme.disabled),g.currentFocus===b&&(e=g.listItems.eq(g.currentFocus).nextAll("li").not("[data-disabled='true']").first().length,f=g.listItems.eq(g.currentFocus).prevAll("li").not("[data-disabled='true']").first().length,e?g.moveDown():f?g.moveUp():g.disable())),g._callbackSupport(c),g},e._isDisabled=function(){var a=this;return a.originalElem.disabled&&a.disable(),a},e._dynamicPositioning=function(){var b=this;if("number"===a.type(b.listSize))b.list.css("max-height",b.maxHeight||"none");else{var c=b.dropdown.offset().top,d=b.list.data("max-height")||b.list.outerHeight(),e=b.dropdown.outerHeight(),f=b.options.viewport,g=f.height(),h=a.isWindow(f.get(0))?f.scrollTop():f.offset().top,i=g+h>=c+e+d,j=!i;if(b.list.data("max-height")||b.list.data("max-height",b.list.outerHeight()),j)if(b.dropdown.offset().top-h>=d)b.list.css("max-height",d),b.list.css("top",b.dropdown.position().top-b.list.outerHeight());else{var k=Math.abs(c+e+d-(g+h)),l=Math.abs(b.dropdown.offset().top-h-d);l>k?(b.list.css("max-height",d-k-e/2),b.list.css("top","auto")):(b.list.css("max-height",d-l-e/2),b.list.css("top",b.dropdown.position().top-b.list.outerHeight()))}else b.list.css("max-height",d),b.list.css("top","auto")}return b},e.enable=function(a){var b=this;return b.options.disabled&&(b.triggerEvent("enable"),b.selectBox.removeAttr("disabled"),b.dropdown.attr("tabindex",0).removeClass(b.theme.disabled).addClass(b.theme.enabled),b.setOption("disabled",!1),b._callbackSupport(a)),b},e.enableOption=function(b,c){var d,e=this,f=a.type(b);return"number"===f&&(d=e.selectBox.find("option").eq(b),e.triggerEvent("enable-option"),d.removeAttr("disabled"),e.listItems.eq(b).attr("data-disabled","false").removeClass(e.theme.disabled)),e._callbackSupport(c),e},e.moveDown=function(a){var b=this;b.currentFocus+=1;var c="true"===b.listItems.eq(b.currentFocus).attr("data-disabled")?!0:!1,d=b.listItems.eq(b.currentFocus).nextAll("li").not("[data-disabled='true']").first().length;if(b.currentFocus===b.listItems.length)b.currentFocus-=1;else{if(c&&d)return b.listItems.eq(b.currentFocus-1).blur(),b.moveDown(),void 0;c&&!d?b.currentFocus-=1:(b.listItems.eq(b.currentFocus-1).blur().end().eq(b.currentFocus).focusin(),b._scrollToView("down"),b.triggerEvent("moveDown"))}return b._callbackSupport(a),b},e.moveUp=function(a){var b=this;b.currentFocus-=1;var c="true"===b.listItems.eq(b.currentFocus).attr("data-disabled")?!0:!1,d=b.listItems.eq(b.currentFocus).prevAll("li").not("[data-disabled='true']").first().length;if(-1===b.currentFocus)b.currentFocus+=1;else{if(c&&d)return b.listItems.eq(b.currentFocus+1).blur(),b.moveUp(),void 0;c&&!d?b.currentFocus+=1:(b.listItems.eq(this.currentFocus+1).blur().end().eq(b.currentFocus).focusin(),b._scrollToView("up"),b.triggerEvent("moveUp"))}return b._callbackSupport(a),b},e._setCurrentSearchOption=function(a){var b=this;return(b.options.aggressiveChange||b.options.selectWhenHidden||b.listItems.eq(a).is(":visible"))&&b.listItems.eq(a).data("disabled")!==!0&&(b.listItems.eq(b.currentFocus).blur(),b.currentIndex=a,b.currentFocus=a,b.listItems.eq(b.currentFocus).focusin(),b._scrollToView("search"),b.triggerEvent("search")),b},e._searchAlgorithm=function(a,b){var c,d,e,f,g=this,h=!1,i=g.textArray,j=g.currentText;for(c=a,e=i.length;e>c;c+=1){for(f=i[c],d=0;e>d;d+=1)-1!==i[d].search(b)&&(h=!0,d=e);if(h||(g.currentText=g.currentText.charAt(g.currentText.length-1).replace(/[|()\[{.+*?$\\]/g,"\\$0"),j=g.currentText),b=new RegExp(j,"gi"),j.length<3){if(b=new RegExp(j.charAt(0),"gi"),-1!==f.charAt(0).search(b))return g._setCurrentSearchOption(c),(f.substring(0,j.length).toLowerCase()!==j.toLowerCase()||g.options.similarSearch)&&(g.currentIndex+=1),!1}else if(-1!==f.search(b))return g._setCurrentSearchOption(c),!1;if(f.toLowerCase()===g.currentText.toLowerCase())return g._setCurrentSearchOption(c),g.currentText="",!1}return!0},e.search=function(a,b,c){var d=this;c?d.currentText+=a.replace(/[|()\[{.+*?$\\]/g,"\\$0"):d.currentText=a.replace(/[|()\[{.+*?$\\]/g,"\\$0");var e=d._searchAlgorithm(d.currentIndex,new RegExp(d.currentText,"gi"));return e&&d._searchAlgorithm(0,d.currentText),d._callbackSupport(b),d},e._updateMobileText=function(){var a,b,c,d=this;a=d.selectBox.find("option").filter(":selected"),b=a.attr("data-text"),c=b?b:a.text(),d._setText(d.dropdownText,c),d.list.find('li[data-val="'+a.val()+'"]').find("i").attr("class")&&d.dropdownImage.attr("class",d.list.find('li[data-val="'+a.val()+'"]').find("i").attr("class")).addClass("selectboxit-default-icon")},e._applyNativeSelect=function(){var a=this;return a.dropdownContainer.append(a.selectBox),a.dropdown.attr("tabindex","-1"),a.selectBox.css({display:"block",visibility:"visible",width:a._realOuterWidth(a.dropdown),height:a.dropdown.outerHeight(),opacity:"0",position:"absolute",top:"0",left:"0",cursor:"pointer","z-index":"999999",margin:a.dropdown.css("margin"),padding:"0","-webkit-appearance":"menulist-button"}),a.originalElem.disabled&&a.triggerEvent("disable"),this},e._mobileEvents=function(){var a=this;a.selectBox.on({"changed.selectBoxIt":function(){a.hasChanged=!0,a._updateMobileText(),a.triggerEvent("option-click")},"mousedown.selectBoxIt":function(){a.hasChanged||!a.options.defaultText||a.originalElem.disabled||(a._updateMobileText(),a.triggerEvent("option-click"))},"enable.selectBoxIt":function(){a.selectBox.removeClass("selectboxit-rendering")},"disable.selectBoxIt":function(){a.selectBox.addClass("selectboxit-rendering")}})},e._mobile=function(){var a=this;return a.isMobile&&(a._applyNativeSelect(),a._mobileEvents()),this},e.remove=function(b,c){var d,e,f=this,g=a.type(b),h=0,i="";if("array"===g){for(e=b.length;e-1>=h;h+=1)d=b[h],"number"===a.type(d)&&(i+=i.length?", option:eq("+d+")":"option:eq("+d+")");f.selectBox.find(i).remove()}else"number"===g?f.selectBox.find("option").eq(b).remove():f.selectBox.find("option").remove();return f.dropdown?f.refresh(function(){f._callbackSupport(c)},!0):f._callbackSupport(c),f},e.selectOption=function(b,c){var d=this,e=a.type(b);return"number"===e?d.selectBox.val(d.selectItems.eq(b).val()).change():"string"===e&&d.selectBox.val(b).change(),d._callbackSupport(c),d},e.setOption=function(b,c,d){var e=this;return"string"===a.type(b)&&(e.options[b]=c),e.refresh(function(){e._callbackSupport(d)},!0),e},e.setOptions=function(b,c){var d=this;return a.isPlainObject(b)&&(d.options=a.extend({},d.options,b)),d.refresh(function(){d._callbackSupport(c)},!0),d},e.wait=function(a,b){var c=this;return c.widgetProto._delay.call(c,b,a),c}});
  </script>
  <script type="text/javascript">
      $(document).ready(function() {
        if ($('.feature').length == 0) {
          $('.product:lt(2)').addClass('scrolled')
        }
      })

      var docWidth = document.body.clientWidth;

      var grid = document.getElementsByClassName('collection-grid')[0];

      function videoLoop(e){
        e.target.pause();
        e.target.currentTime = 0;
        e.target.play();
      }

      var videos = document.getElementsByClassName('video');
      for(var i = 0; i < videos.length; i++){
        var children = videos[i].children;
        for(var j = 0; j < children.length; j++){
          if(children[j].localName == 'img'){
            if(docWidth < 768){
              children[j].src = children[j].getAttribute('data-image-m');
            } else {
              children[j].src = children[j].getAttribute('data-image');
            }
          }
        }
        //videos[i].addEventListener('ended', videoLoop, false);
        //videos[i].play();
      }

      $(".scroll-to-shop").on("click", function(){
          $('html, body').animate({
            scrollTop: window.innerHeight
          }, 850);
      });

      function getImageSize(image_url, elem){
        image_url = image_url.match(/^url\("?(.+?)"?\)$/);

        if (image_url[1]) {
            image_url = image_url[1];
            image = new Image();

            image.src = image_url;

            // just in case it is not already loaded
            $(image).load(function(i){
              var ratio = (image.height / image.width) * 100;
              elem.css("padding-bottom", ratio + "%");
            });
        }
      }



    (function(){
      var images = document.getElementsByClassName('image');
      for(var i = 0; i < images.length; i++){
        var img = images[i].getAttribute('data-image');

        if(docWidth <= 768){
          img = images[i].getAttribute('data-image-m');
        }

        if(images[i].localName == 'a'){
          var elemSibling = images[i].children[0];
          var elem = new Image();

          elem.src = img;

          images[i].insertBefore(elem, elemSibling);
        } else {
          images[i].style.backgroundImage = 'url(' + img + ')';
        }
      }

      var features = document.getElementsByClassName("feature");
      for(var i = 0; i < features.length; i++){
        if(!$(features[i]).hasClass("fullscreen")){

          var $elem = $(features[i]);
          // Get image ratio
          var image_url = $elem.children(".image").css('background-image'),
              image;

          // Remove url() or in case of Chrome url("")
          if(image_url){
            getImageSize(image_url, $elem);
          }
        }
      }

      if(docWidth <= 540){
        var promos = document.getElementsByClassName("promo");
        for(var i = 0; i < promos.length; i++){
          var $elem = $(promos[i]);
          // Get image ratio
          var image_url = $elem.children(".image").css('background-image'),
              image;

          // Remove url() or in case of Chrome url("")
          if(image_url){
            getImageSize(image_url, $elem);
          }
        }
      }
    })();

    function removeDecimal(string){

      var val = string.replace("$", "");

      val = parseInt(val);
      val = val.toFixed(2).replace(/[.,]00$/, "");

      return "$" + val;
    }

    function modifyQuickView(url){
      // Modify Price
      var $price = $(".modify-price")[0];
      var $btnVal = $(".sca-qv-cartbtn").val();

      $(".sca-qv-cartbtn").val(removeDecimal($price.textContent) + " - " + $btnVal);
      $(".quick-view-container").addClass("run-animation");
      $(".main-logo-overlay").addClass("show");
      $("body").addClass("fix");

      // Modify Title
      var $title = $("#sca-qv-title").text();

      // Modify Description
      var $desc = $("#sca-qv-des").text();

      // load saks link
      $("#saks").load(url + " #is_saks", function(){
        var is_saks = $("#is_saks").attr("rel");
        if(is_saks !== undefined && is_saks !== ""){
          // append new button to saks link
          $("#saks").html("<a class='saks-btn' href='" + is_saks + "' target='_blank'>Shop at Saks</a>");
        } else {
          $("#saks").html("");
        }
      });
      
      $(".sca-product-description").load(url + " .detail .description", function(){

        $('.description.toggle').append($('<span id="tabs-parent"></span>'));
        $('.description.toggle #tabs-parent').append($('<ul id="tabs"></ul>'));
        $('.description.toggle').append($('<ul id="tabs-con"></ul>'));
        $('.description.toggle').children('p').each(function(index, element) {
          $('#tabs').append('<li id="tab-title-'+index+'" class="content-li" >'+$(this).html()+'</li>');
        });
        $('.description.toggle').children('div').each(function(index, element) {
          $('#tabs-con').append('<li class="tab-title-'+index+'">'+$(this).html()+'</li>');
        });

        $('.description.toggle').children('p').remove();
        $('.description.toggle').children('div').remove();

        $('#tabs li:not(.tab-controll)').click(function(e) {

          var $elem = $(this);
          var tabid = $elem.attr('id');
          var curid = $('#tabs li.live-tab').index()

          $('#tabs-con li').eq(curid).fadeOut(350, function(){
            if($elem.hasClass('live-tab')) {

            } else {
              $('#tabs li').removeClass('live-tab');
              $('#tabs-con').find('.'+tabid).fadeIn(350);
              $elem.addClass('live-tab');
            }
          });
        });

        $("#tab-title-0").addClass("live-tab");
        $(".tab-title-0").fadeIn(350);
      });

      // Modify Gallery
      var $images = [];
      $("#sca-qv-galleryid a").each(function(){
          $images.push($(this).attr('data-zoom-image'));
      });

      // Write Gallery
      $(".sca-product-gallery").html("");
      $.each($images, function(key, val){
          $(".sca-product-gallery").append("<div class='image'><img src='" + val + "' /></div>");
      });

      setTimeout(function(){
        $(".sca-fancybox-opened .sca-fancybox-close").addClass("fixed");
      }, 700);

      // Hijack Form Submit
      $(".sca-qv-cartbtn").on("click", function(){
        // run animation
        $(".cart-animation-wrapper").addClass("run");
        $(".sca-qv-optioncart").addClass("black");
        // bring in cart button
        $(".go-to-cart").addClass("show");
        // submitted
        setTimeout(function(){
          $(".mobile.go-to-cart").text("Checkout");
          $(".cart-animation-wrapper").removeClass("run");
        }, 1250);
      });

      // Hijack on change
      $("#sca-qv-variant-options .single-option-selector").on("change", function(){
        setTimeout(function(){
          $(".sca-qv-cartbtn").val(removeDecimal($price.textContent) + " - " + $btnVal);
        }, 10);
      });

      // Select Box
      setTimeout(function(){
        $(".single-option-selector").selectBoxIt({
          showEffect: "slideDown",
          showEffectSpeed: 200,
          hideEffect: "slideUp",
          hideEffectSpeed: 200,
          isMobile: function() {
            console.log("this is mobile");
            var ua = navigator.userAgent || navigator.vendor || window.opera;
          }
        });
      }, 100);

      $(".sca-fancybox-close, .sca-fancybox-overlay").on("click",function(){
        setTimeout(function(){
          $(".mobile.go-to-cart").text("Cart");
        }, 500);
        $(".go-to-cart").removeClass("show");
        $(".sca-qv-product-options .sca-qv-optioncart").removeClass("black");
        $(".run-animation").removeClass("run-animation");
        $(".main-logo-overlay").removeClass("show");
        $("body").removeClass("fix");
        $(".zoomContainer").remove();
      });
    }

    // modify quick view
    $(".collection-grid").on("click", ".sca-qv-button", function(){
        var timer = 0;
        var url = $(this).parent().prev().attr("href");
        var checkForAjax = setInterval(function(){
          timer += 25;

          if($(".sca-fancybox-opened #checkForAjax").length > 0){
            clearInterval(checkForAjax);
            setTimeout(function(){
              // modify html
              modifyQuickView(url);
            }, 180);
          }

          if(timer > 5000){
            // stop loop if nothing ever returns
            clearInterval(checkForAjax);
          }
        }, 25);
    });

    if(docWidth > 768){
      $(".product").on("mouseenter", function(){
        $(this).addClass("show-child");
      }).on("mouseleave", function(){
        $(this).removeClass("show-child");
      });
    }
  </script>
